h1{ 
    font-family: Luminari, fantasy; 
    color: olive;
}

h2{ 
    font-family: American Typewriter, serif;

}

.topofpage{    
    border: solid peru;
    width: 255 px;
    border-radius: 200 px;
}

